<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <h2 class="text-center">Todo App</h2>
      <form [formGroup]="todoForm" (ngSubmit)="create(todoForm.controls.title.value)">
        <div>
          <label>Title:
          <input [class.is-invalid]="todoForm.invalid" type="text" formControlName="title">
          </label>
          <div *ngIf="todoForm.invalid && (todoForm.controls.title.touched||todoForm.controls.title.dirty)">
            <p>Title required</p>
          </div>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
